.notes__chip{
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.note__menu{
  margin-left:10px;
}

.topic__menu{
  margin-left:10px;
}


.notes{
  margin-left:60px;
}


.topics{
  margin-left:25px;
  display: flex;
  align-items: center;
}

.list__items{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.sub{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.sub h{
  margin-left: 20px;
  margin-right: 40px;
}

.sub Button{
  margin-left: 5px;
}


.main{
  margin: 30px;
}
